
/* 這個是讓內容置中的 */
.makeCenter {
    display: flex;
    /*水平置中*/    
    justify-content: center;
    /*垂直置中*/
    align-items: center;   
}



/* 對齊到父元素的正中間 */
/* 使用時，父元素要設為
position: relative; 
或
position: absolute; */

.alignToParentCenter {
    position: absolute;
    left: 50%;
    top: 50%;    
    transform: translate(-50%, -50%);
    /* 文字置中 */
    text-align: center; 



    /* white-space: nowrap;     文字不要自動換行  */
    /* width: 100%;   最多跟父元素同寬*/

    /* 千萬不要指定高度，不然就無法置中了 */
    /* height: 100%;  絕對不可以這樣寫 */
}



/* 光暈效果 */
.makeHalo{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}


/* 讓文字不換行，寬度也會跟著改變 */
.textNoWrap{
    white-space: nowrap;
}



/* *************************************** */

/* 讓 main 在螢幕的正中間 */
#main {
    /* 居中對齊 */
    margin: 0 auto;
    height: 100vh;

    width: 100%;
    max-width: 500px;

    font-size: 20px;
}

/* 在手機的樣式 */
@media only screen and (max-width: 600px) {
    #main {
        /* 在手機上寬度為全屏幕 */
        width: 100vw;
        font-size: 17px;
    }
}


/* **************************************** */
