@import url('./common.css');
@import url('./simpleCard.css');

:root{
    /* background-color: #68651b; */
    --c1: hsl(58, 59%, 26%);
    --c1:hsl(66, 100%, 15%);
    --c1: #782e28;


    /* background-color: #152a59; */
    --c2: hsl(221, 62%, 22%);
    --c2: hsl(199, 100%, 15%);
    --c2:#58278c;
    --c2:#3d1369;

    /* background-color: #4d003b; */
    --c3: hsl(314, 100%, 15%);
    --c3: hsl(314, 100%, 15%);
    --c3:#235202;

    /* background-color: #004d40; */
    --c4: hsl(170, 100%, 15%);
    --c4: hsl(131, 100%, 15%);
    --c4: #733f00;        
    --c4: #782e28;
    --c4:#58278c;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    background-color: #141414;

    /* font-family: '微軟正黑體', sans-serif; */
}






/* 網頁布局，共100%， 超過的話，螢幕最開始捲動 */

#title {
    height: 10%;
    /* background-color: #68651b; */
    background-color: var(--c1);
}

#title1{
    font-size: 2.1em;    
}

#title2{
    font-size: 1.0em;    
}


#container {
    height: 70%;
    /* background-color: #152a59; */
    background-color: var(--c2);
    font-size: 1.2em;
}


#choosedArea {
    height: 13%;
    /* background-color: #4d003b; */
    background-color: var(--c3);

    border-top: 1px solid #a180c4;
    border-bottom: 1px solid #ae93ca;
}

#nextPage {
    height: 7%;
    /* background-color: #004d40; */
    background-color: var(--c4);
    cursor: pointer;
    font-size: 1.3em;    
}

#errorMessageButton {
    border: 2px solid #e4b0fc;
    background-color: #7705ab;
    cursor: pointer;
    font-size: 1.2em;    
}


/* 一開始，沒有發生錯誤，所以看不見 */
#errorMessageButton{
    visibility: hidden;
}


/* 螢幕高度設定完畢 */
/* *********************************************** */


#container {
    /* grid 佈局 */
    display: grid;
    /* 創建6個 columns，直的看過去有6個 */
    /* 每一橫行有6個元素 */
    grid-template-columns: repeat(6, 1fr);
    /* 卡片間隙 */
    gap: 10px;
    /* 容器的兩端空白要自己設定 */
    padding: 10px;
    /* 確保 container 包含所有的 gap 和 padding，這句很重要！ */
    box-sizing: border-box;


    /* 讓 container 內容超出時可以滾動 */
    overflow: auto;
}



/* 網頁上方的標題及提示 */


#title1 {
    font-family: "Zen Old Mincho", serif;
    font-weight: 700;
    font-style: italic;
}

#title2 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#nextPage {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    font-style: normal;
}




/* 被選中的排堆 */

#choosedArea {
    /* 添加一些间距 */
    gap: 1%;
}

#choosedArea>.card {
    height: 80%;
    width: 12%;
    /* 禁止再次点击 */
    pointer-events: none;
}




#errorMessageButton{
    border-radius: 10px;
    padding: 3%;
}

#errorMessageButton > div{
    line-height: 180%;
}

