@import url('./common.css');
@import url('./beautyCard.css');


/* 排版布局 */

#title{
    text-align: center;    
    /* 上右下左邊界不同 */
    margin: 1% 1.5% 4% 1.5%;
    padding: 2%;
    font-size: 1.8em;
}


/* 當選擇為【Yes|No】或【今日運勢】時，會抽一張牌或三張牌。
在這些卡牌之前附帶的提示訊息 extraMessage */
.extraMessage {
    text-align: center;    
    margin-top: 1%;
    font-size: 1.0em;
    color:#9d9a92;
}


/* footer 控制【回上頁】和【回首頁】 */
footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


/* 與抽出的卡牌隔開一些距離 */
footer{
    margin-top: 0%;
    font-size: 1.4em;
}


/* 最底下兩顆按鈕，大約佔 50% */
footer>div {
    width: 45%;
}



/* ******************************************** */



/* 具有圓形邊框的 div，裡面的文字置中對齊 */
.roundButton {
    text-align: center;
    border: 2px solid #c2ac84;
    background-color: #a8865d;
    border-radius: 10px;    

    margin: 2%;
    padding: 1%;
}





body {
    margin: 0;
    padding: 0;
    color: #fcf6e6;
    background-color: #141414;

    /* web font 黑體 */
    font-family: 'Noto Sans TC', sans-serif;
}



#title {
    border-top: 2px solid #c2ac84;
    border-bottom: 2px solid #c2ac84;
    background-color: #a8865d;
}


footer  a {
    /* 要指定顏色，不然會出現醜醜的超連結預設顏色 */
    text-decoration: none;
    font-weight: 500;
    color: #fcf6e6;

    /* 讓超連結佔滿整個父元素 */
    display: block;
}


/* 刪除此元素 */
/* .removeDom{
    display: none;
} */