
/* 這裡的 card 只是 simple card */
/* 簡單卡牌只有：正反面face，卡牌數字，卡牌中文名 */


.card {
    position: relative;
    /* 鼠标悬停时显示手型光标 */
    cursor: pointer;

    font-size: 1.0em;
}

.card{
    background-color: #804f00;
    border: 3px solid #e1ad00;
    color: #e7e7c8;
    border-radius: 5px;
}



.face{
    /* 位於父容器的正中間 */
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center; 

    /* 撐大寬度，讓更多的字可以擠進來 */
    width: 100%;
    
    /* height:100%; 千萬不可以寫這句！！
    它會讓 .face 和父類別等高，那就無法調整到中間了*/
}



/* 卡片上的數字卡號 */
.card .card_num {
    font-weight: 900;
    /* color: white; */
    /* background-color: #e0aa53; */
}


/* 卡片上的中文名稱 */
.card .card_nameZh {
    font-weight: 400;
    /* background-color: pink; */
}




.card:active {
    background-color: #152a59;
    /* 光暈效果 */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card.selected {
    /* 禁止再次点击 */
    pointer-events: none;
    /* 降低透明度，使卡片看起来不可用 */
    opacity: 0.1;
}



/* 用程式來控制，這張牌是否要顯現牌面 */
.cardFaceOn .face{
    visibility:visible; 
}

.cardFaceOff .face{
    visibility:hidden; 
}


.face img{
    width: 100%;
    /* height:100%; */
        /*圖片超出容器(card)比例的部分會被裁切*/
        object-fit: cover;
        /* object-fit: none; */
}


/* ************************************************************ */


