/*
這裡有兩種 web Font，
分別是 
* 黑體： noto-sans-tc: 可自行調整 font-weight 
* 明體： zen-old-mincho: 只有 font-weight:400 和 700 這兩種


請在 html 加入引用，才能讀取網路上的字體
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Zen+Old+Mincho:wght@400;700&display=swap" rel="stylesheet">
*/



/* 明體 700 號字 */
.zen-old-mincho-bold {
    font-family: "Zen Old Mincho", serif;
    font-weight: 700;
    font-style: normal;
}

/* 明體 400 號字 */
.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}




/* 黑體， noto-sans-tc-xxxx */
/* .noto-sans-tc-<自己定義名稱>  */
/* font-weight 也可自己設定 */

/* 例如： */
.noto-sans-tc-desc {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}